<h2 class="action-view">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <%= f.email_field :email, autofocus: true %>
            <label for="email">Email</label>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="input-field col s12">
            <%= f.password_field :password, autocomplete: "off" %>
            <label for="password">New Password</label>
          </div>
          <div class="input-field col s12">
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
            <label for="password">Verify New Password</label>
          </div>
          <div class="input-field col s12">
            <%= f.password_field :current_password, autocomplete: "off" %>
            <label for="password">Current Password to Confirm Changes</label>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Update", class: 'btn waves-effect waves-light' %>
        </div>
        <span class="cancel-button">
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,
            class: 'red btn waves-effect waves-light' %>
        </span>
      </form>
    <% end %>
  </div>
  <%= link_to "Back", :back, class: 'edit-user-back' %>