<h1 class="center">Edit item</h1>
<hr>
<div class="container item-form">
  <%= form_for @item do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Item Name' %>
    <br>
    <%= f.label :item_image, 'Image' %>
    <%= f.text_field :item_image, placeholder: 'Item Name' %>
    <br>
    <%= f.label :price %>
    <%= f.text_field :price, placeholder: 'Item Price' %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: 'Item Description' %>
    <br>
    <%= f.submit nil, class: 'waves-effect waves-light btn' %>
    <%= button_to 'Back To Items', items_path, method: :get, class: "right btn waves-effect waves-light grey darken-3" %>
  <% end %>
</div>
