<h1 class="center">Shades For Days</h1>
<p class="center white-text">Click to view details</p>
<div class="carousel">
  <a class="carousel-item" href="/items/1"><img src="https://imgur.com/rMC8UVI.png"></a>
  <a class="carousel-item" href="/items/2"><img src="https://imgur.com/kj3daWD.png"></a>
  <a class="carousel-item" href="/items/3"><img src="https://imgur.com/68OXium.png"></a>
  <a class="carousel-item" href="/items/4"><img src="https://imgur.com/K1luXzg.png"></a>
  <a class="carousel-item" href="/items/5"><img src="https://imgur.com/hmtXdc3.png"></a>
  <a class="carousel-item" href="/items/6"><img src="https://imgur.com/qY2rUSJ.png"></a>
  <a class="carousel-item" href="/items/7"><img src="https://imgur.com/pkiTLcb.png"></a>
  <a class="carousel-item" href="/items/8"><img src="https://imgur.com/gk29NZr.png"></a>
</div>
<hr>
<div class="row">
  <% @items.each do |item| %>
    <div class="col s4">
      <div class="card grey darken-4">
        <div class="card-content white-text">
          <span class="card-title center"><%= link_to item.name, item_path(item) %></span>
          <div class="card-action center">
              <%= link_to 'View', item_path(item) %>
              <%= link_to 'Edit', edit_item_path(item) %>
              <%= link_to 'Delete', item, method: :delete %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container cont_border">
  <h4 class="center blue-text"><%= button_to 'Add Item', new_item_path, method: :get, class: "btn waves-effect waves-light grey darken-3" %></h4>
  <p class="center">Cause you're an admin I guess?</p>
</div>