<h1 class="center"><%= @item.name %></h1>
<hr>
<div class="container">
  <img src="http://placehold.it/<%= @item.item_image %>">
  <div class=container>
    <p>
      <strong><%= @item.name %></strong>
    </p>
    <p>
      <strong><%= @item.description %></strong>
    </p>
    <p>
      <strong> $ <%= @item.price %> </strong>
      + shipping
      <br>
      (C.R.E.A.M.)
    </p>
  </div>
</div>
