<div class="col s12 m7">
  <h2 class="header"><%= @item.name %></h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://lorempixel.com/100/190/nature/6">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <strong>$<%= @item.price %></strong>
        <i>+ Shipping</i>
        (C.R.E.A.M.)
        <p><%= @item.description %></p>
      </div>
      <div class="card-action">
        <%= link_to 'Edit', edit_item_path(@item), method: :get %>
        <%= link_to 'Delete Item', @item, method: :delete %>
      </div>
    </div>
  </div>
</div>
           